<%- include('layouts/header') %>
<%- include('layouts/navbar') %>

<h1><%= title %></h1>
<p>Họ tên: Nguyễn Trung Kiên</p>
<p>Email: kien@gmail.com</p>
<p>SĐT: 09xxxxxxxx</p>

<%- include('layouts/footer') %>